h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201089 - 02. Estructurar propuesta ambiental teniendo en cuenta la normativa y protocolos de producción limpia.          