h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Tratados y convenios ambientales ratificados por Colombia', 'main.html#page/tratados/')
                    +navTemaItem('2', 'Sistema Nacional Ambiental (SINA)', 'main.html#page/sistema/')
                    +navTemaItem('3', 'Indicadores Ambientales', 'main.html#page/indicadores/')
                    +navTemaItem('4', 'Mejoramiento continuo', 'main.html#page/plan/')
                    +navTemaItem('5', 'Ciclo Deming – PHVA', 'main.html#page/phva/')
                    +navTemaItem('6', 'Pasos para realizar un plan de acción', 'main.html#page/pasos/')
                    +navTemaItem('7', 'Buenas Prácticas de Manufactura (BPM)', 'main.html#page/bpm/')
                                       