.container
    .header-ecored
        h1 1. Tratados y convenios ambientales ratificados por Colombia
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_1/img_2.png").img-fluid

        p.mt-5 Así pues, Colombia ha firmado y se ha vinculado a diferentes tratados y convenios ambientales a nivel mundial, cada uno con objetivos y funciones establecidas. Estos tratados son acuerdos voluntarios u obligatorios por medio de los cuales los países participantes desarrollan propuestas en asuntos ambientales tan diversos como: cambio climático, biodiversidad y ecosistemas, desarrollo sostenible, protección de los océanos, gestión de residuos y sustancias químicas peligrosas, entre otros; con un propósito principal centrado en proteger el medio ambiente y la salud de las personas de los efectos negativos que pueden provocar las sustancias químicas, los contaminantes, el tráfico de especies, el vertimiento de residuos al mar, entre otros.

        p Es así como a continuación se presenta una breve descripción de cada una de estas organizaciones con el fin de identificar los tratados a los cuales Colombia se encuentra inscrito y sus disposiciones: 

        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_1
                h2 1.1 Convenio de Diversidad Biológica o Convention on Biological Diversity 

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_3.png", alt="").img-icon
                .col
                    p El Convenio sobre la Diversidad Biológica (CDB) es un tratado internacional jurídicamente vinculante con tres objetivos principales: la conservación de la diversidad biológica, la utilización sostenible de sus componentes y la participación justa y equitativa en los beneficios que se deriven de la utilización de los recursos genéticos. Su objetivo general es promover medidas que conduzcan a un futuro sostenible y la conservación de la diversidad biológica como interés común de toda la humanidad. 

                    p “Este acuerdo cubre la diversidad biológica en todos los niveles: ecosistemas, especies y recursos genéticos. Cuenta con la Secretaría del Convenio sobre la Diversidad Biológica (SCDB), la cual tiene su sede en Montreal, Canadá y su principal función es ayudar a los Gobiernos a aplicar el CDB y sus programas de trabajo, organizar reuniones, redactar borradores de documentos, coordinar la labor del Convenio con la de otras organizaciones internacionales y recopilar, así como difundir información” (Secretaría del Convenio sobre la Diversidad Biológica, 2020).

                    p A continuación se mencionan algunos de los datos clave que menciona la Secretaría del Convenio sobre la Diversidad Biológica (2020): 

            ul.ul1
                li
                    p El Convenio sobre la Diversidad Biológica quedó listo para la firma el 5 de junio de 1992 en la Cumbre de la Tierra celebrada en Río de Janeiro, y entró en vigor el 29 de diciembre de 1993.

                li 
                    p Hasta la fecha hay 193 Partes.

                li
                    p Los componentes de la diversidad biológica son todas las formas de vida que hay en la tierra, incluidos ecosistemas, animales, plantas, hongos, microorganismos y diversidad genética.

                li 
                    p Con sus tres objetivos, el CDB es considerado a menudo como el principal instrumento internacional para el desarrollo sostenible.

                li 
                    p Los ecosistemas, las especies y los recursos genéticos deberían utilizarse en beneficio del ser humano, pero de manera que no lleve a la pérdida de diversidad biológica.

                li 
                    p Para conservar la diversidad biológica hacen falta cuantiosas inversiones, pero se obtendrán considerables beneficios ambientales, económicos y sociales.

                li 
                    p El enfoque por ecosistemas es una estrategia integrada para gestionar recursos es el marco de acción del Convenio.

        .jumbotron.color-2
            .sub-ecored.mt-5#tema1_2
                h2 1.2 Convención de las Naciones Unidas de Lucha contra la Desertificación (UNCCD).

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_4.png", alt="").img-icon
                .col
                    p El Convenio sobre la Diversidad Biológica (CDB) es un tratado internacional jurídicamente vinculante con tres objetivos principales: la conservación de la diversidad biológica, la utilización sostenible de sus componentes y la participación justa y equitativa en los beneficios que se deriven de la utilización de los recursos genéticos. Su objetivo general es promover medidas que conduzcan a un futuro sostenible y la conservación de la diversidad biológica como interés común de toda la humanidad. 

                    p “Este acuerdo cubre la diversidad biológica en todos los niveles: ecosistemas, especies y recursos genéticos. Cuenta con la Secretaría del Convenio sobre la Diversidad Biológica (SCDB), la cual tiene su sede en Montreal, Canadá y su principal función es ayudar a los Gobiernos a aplicar el CDB y sus programas de trabajo, organizar reuniones, redactar borradores de documentos, coordinar la labor del Convenio con la de otras organizaciones internacionales y recopilar, así como difundir información” (Secretaría del Convenio sobre la Diversidad Biológica, 2020).

        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_3
                h2 1.3 Foro de las Naciones Unidas Sobre Bosques (UNFF)

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_5.png", alt="").img-icon
                .col
                    p El Foro de las Naciones Unidas sobre Bosques (UNFF, por sus siglas en inglés), tiene por objetivo principal promover el manejo, la conservación y el desarrollo sostenible de todo tipo de bosques y fortalecer el compromiso político a largo plazo para este fin.

                    p “Durante este foro, Colombia presentó sus contribuciones nacionales haciendo énfasis en la estrategia integral para la lucha contra la deforestación y programas en el marco de esta estrategia, como Visión Amazonía, Visión Pacífico, Bosques para la Paz, Cinturón Verde, entre otros” (Cancillería de Colombia , 2018).


        .jumbotron.color-2
            .sub-ecored.mt-5#tema1_4
                h2 1.4 Unión Internacional para la Protección de las Obtenciones Vegetales (UPOV)

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_6.png", alt="").img-icon
                .col
                    p La Unión Internacional para la Protección de las Obtenciones Vegetales (UPOV) es una organización intergubernamental con sede en Ginebra (Suiza) y se creó para lograr la Protección de las Obtenciones Vegetales. El Convenio se adoptó en París en 1961. 

                    p “La misión de la UPOV es proporcionar y fomentar un sistema eficaz para la protección de las variedades vegetales, con miras al desarrollo de nuevas variedades vegetales para beneficio de la sociedad” (UPOV, 2020).

        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_5
                h2 1.5 Convenio de Viena para la Protección de la Capa de Ozono

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_7.png", alt="").img-icon
                .col
                    p El Convenio de Viena es el primer instrumento internacional que busca proteger la salud de los seres humanos y el medio ambiente, de los efectos adversos resultantes de la modificación de la capa de ozono atmosférica que rodea a la tierra.

                    p “Este convenio se llevó a cabo el 24 de agosto de 2010, 196 países han firmado y ratificado la convención de Viena” (Minambiente , 2020).

                    p Mediante este convenio cada una de las partes o países participantes se comprometen a cooperar con los medios que cada uno disponga, en la investigación e intercambio de información para mejorar la comprensión de los efectos de las actividades humanas sobre la capa de ozono y de los efectos de la modificación de ésta sobre la salud humana y el medio ambiente.

                    p Por consiguiente, se comprometen a adoptar medidas adecuadas para controlar, limitar, reducir o prevenir las actividades humanas cuando se compruebe que tienen o pueden tener efectos adversos como resultado de la modificación probable de la capa de ozono.

        .jumbotron.color-2
            .sub-ecored.mt-5#tema1_6
                h2 1.6 Convenio Marco Cambio Climático

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_8.png", alt="").img-icon
                .col
                    p Este convenio se desarrolló con el fin de mitigar las actividades que afecten el cambio climático global protegiendo dos aspectos principales: la biodiversidad biológica, de acuerdo con el Convenio sobre la Diversidad Biológica (CNUDB) y la desertificación por medio del Convención de Lucha contra la Desertificación (UNCCD).

                    p “Esto debido a que el cambio climático afecta a la biodiversidad y a la desertificación. Cuanto más intenso sea el cambio climático y mayor sea su alcance, mayor será la pérdida de especies vegetales y animales, y las tierras secas y semiáridas en todo el mundo perderán vegetación y se deteriorarán”. (Minambiente , 2020).

        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_7
                h2 1.7 Protocolo de Kioto

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_9.png", alt="").img-icon
                .col
                    p Este protocolo compromete a los países industrializados a estabilizar las emisiones de gases de efecto invernadero. 

                    p El Protocolo de Kioto, establece metas vinculantes de reducción de las emisiones para 37 países industrializados y la Unión Europea, reconociendo que son los principales responsables de los elevados niveles de emisiones de Gases Efecto Invernadero (GEI) que hay actualmente en la atmósfera, y que son el resultado de quemar combustibles fósiles durante más de 150 años.

                    p “Su principio central es el de la «responsabilidad común pero diferenciada»” (Minambiente , 2020).

        .jumbotron.color-2
            .sub-ecored.mt-5#tema1_8
                h2 1.8 Convenio de Basilea Sobre el Movimiento Transfronterizo de Desechos Peligrosos

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_10.png", alt="").img-icon
                .col
                    p El Convenio de Basilea se basa en el control de los movimientos transfronterizos de desechos peligrosos y su eliminación.

                    p El convenio fue aprobado el 22 de marzo de 1989 por la Conferencia de Plenipotenciarios en Basilea (Suiza), se compone de 175 Partes y su objetivo principal se centra en proteger la salud de las personas y el medio ambiente frente a los efectos perjudiciales de los desechos peligrosos.


        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_9
                h2 1.9 Convenio de Rotterdam 

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_11.png", alt="").img-icon
                .col
                    p “El convenio de Rotterdam se enfoca en la gestión de productos químicos, entró en vigor en el 2004 y participan 73 miembros. Su función principal se centra en promover la responsabilidad compartida y los esfuerzos conjuntos de las Partes en la esfera del comercio internacional de ciertos productos químicos peligrosos a fin de proteger la salud humana y el medio ambiente frente a posibles daños y contribuir a su utilización ambientalmente racional, facilitando el intercambio de información acerca de sus características” (Secretaría del Convenio de Rotterdam, 2004).

        .jumbotron.color-2
            .sub-ecored.mt-5#tema1_10
                h2 1.10 Convenio de Estocolmo sobre Contaminantes Orgánicos Persistentes 

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_12.png", alt="").img-icon
                .col
                    p El convenio de Estocolmo sobre Contaminantes Orgánicos Persistentes entró en vigor en el 2004 y tiene como objetivo proteger la salud humana y el medio ambiente de Contaminantes Orgánicos Persistentes (COP).  

                    p “En este convenio, cada una de las partes desarrollan y aplican medidas para eliminar o reducir la producción, utilización, importación, exportación y emisión al medio ambiente de COPs e incluye disposiciones en cuanto al acceso a la información, la sensibilización y formación del público y la participación en el desarrollo de planes de aplicación” (Minambiente , 2020).

        .jumbotron.color-1
            .sub-ecored.mt-5#tema1_11
                h2 1.11 Tratado de Cooperación Amazónica – TCA 

            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_13.png", alt="").img-icon
                .col
                    p El Tratado de Cooperación Amazónica (TCA), centra su atención en la protección y desarrollo armónico de la Amazonía y la incorporación de sus territorios a las respectivas economías nacionales, lo que es fundamental para el mantenimiento del equilibrio entre crecimiento económico y preservación del medio ambiente.

                    p “Este tratado fue firmado y ratificado el 3 de julio de 1978 por los ocho países que comparten la Amazonía: Bolivia, Brasil, Colombia, Ecuador, Guyana, Perú, Surinam y Venezuela” (Cancillería de Colombia , 2018).

                    p umado a cada uno de los tratados y convenios mencionados anteriormente, Colombia dispone de organizaciones públicas que se encargan de velar por el cuidado y conservación de los recursos naturales disponibles y el fortalecimiento de negocios y economías verdes y sostenibles. 




