.container
    .header-ecored
        h1 6. Pasos para realizar un plan de acción  
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_6/img_1.png").img-fluid


        .sub-ecored.mt-5#tema6_1
            h2 6.1. Plantear objetivos y estrategias 

        p El primer paso para llevar a cabo un plan de acción exitoso consiste en la definición de los objetivos, así como las estrategias que se utilizarán para lograrlos. Es así como se han desarrollado herramientas y metodologías que permiten de manera ordenada generar y presentar la información que se considera pertinente para abordar cada uno de ellos.

        p Con la intención de profundizar en cada una de ellas, se han organizado en las siguientes categorías:  

        img.mt-5.img-a(src="assets/images/pages/tema_6/img_2.png").img-fluid

        h1.mt-5 Herramientas

        .header-arrow.my-5
            h2.text-center Para generar y ordenar ideas: 

        p estas permiten a los participantes presentar sus ideas e hipótesis planteadas frente a la oportunidad de mejora, de una manera ordenada y concreta. Entre estas se encuentran: 

        .row.justify-content-center.align-items-center
            .col-11              
                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Ideas  
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Afinidades 
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong Causa 
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Pareto       
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')  
                            .jumbotron.color-4                                    
                                p.mt-5 #[strong La tormenta de ideas:] también denominada lluvia de ideas o brainstorming, es una metodología para encontrar e identificar posibles soluciones a los problemas y oportunidades potenciales para el plan de acción. Por medio de la tormenta de ideas, se reúne un grupo de personas a exponer sus ideas frente a una temática determinada, no existe moderador, todos son participantes y se lleva cabo en dos etapas: (i) generación de ideas y (ii) aclaración de estas.

                                img.img-a(src="assets/images/pages/tema_6/img_3.png").img-fluid                            
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')  
                            .jumbotron.color-4                                    
                                p.mt-5 #[strong Diagrama de afinidades:]  es una herramienta que divide una gran cantidad de ideas y conceptos relacionados con una temática en particular en grupos de trabajo con relaciones naturales existentes entre ellos. Este diagrama permite estimular la creatividad y participación plena en equipos de trabajo pequeños que preferiblemente estén constituidos por personas acostumbradas a trabajar juntas. 
                                img.img-a(src="assets/images/pages/tema_6/img_4.png").img-fluid
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')  
                            .jumbotron.color-4                                   
                                p.mt-5 #[strong Diagrama causa – efecto:]  también conocido como diagrama de espina de pescado o “fish-bone”. Es un método gráfico que se usa para efectuar un diagnóstico de las posibles causas que provocan ciertos efectos, los cuales pueden ser controlables. Es utilizado para analizar y comunicar las relaciones causa - efecto y facilitar la resolución de problemas desde el síntoma, pasando por la causa hasta la solución. 
                                img.img-a(src="assets/images/pages/tema_6/img_5.png").img-fluid                                
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')  
                            .jumbotron.color-4                                   
                                p.mt-5 #[strong Diagrama de Pareto:] este diagrama permite ordenar elementos desde el más frecuente hasta el menos frecuente, basándose en el principio de Pareto o regla del 80-20. Este diagrama permite presentar, en orden de importancia, la contribución de cada elemento al efecto total y ordenar las oportunidades de mejora. 
                                img.img-a(src="assets/images/pages/tema_6/img_6.png").img-fluid
                        
        .header-arrow.my-5
            h2.text-center Para recolectar y procesar información: 

        p posterior a la generación de ideas, se lleva a cabo el proceso de recolección y procesamiento de información, entre las herramientas que facilitan el proceso se encuentran: 

        .row.justify-content-center.mt-5
            .col-10.col-md-10
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_6/img_7.png").img-fluid
                        p.card__copy 
                            span 
                                | #[strong Diagrama de dispersión:] #[br]se usa para descubrir y presentar las relaciones entre los datos recolectados. Se define como una técnica gráfica en la cual se presenta un eje x, y, en el cual se plasman los resultados de dos variables para un conjunto de datos como una nube de puntos, la cual permite mostrar la correlación existente entre las mismas. 

        .row.justify-content-center.mt-5
            .col-10.col-md-10
                .card-media.color-2
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_6/img_8.png").img-fluid
                        p.card__copy 
                            span 
                                | #[strong Histograma:] #[br]son diagramas de barras que muestran un conjunto de datos en un intervalo específico.  Estos diagramas se usan para comunicar visualmente la información relacionada a los procesos y tomar decisiones. En los histogramas los datos son presentados como una serie de rectángulos de igual ancho y variadas alturas. El ancho representa un intervalo dentro del rango de datos. La altura representa la cantidad de datos numéricos.

        .header-arrow.my-5
            h2.text-center Para presentar información: 

        p finalmente, después de realizar la generación de ideas, recolección y procesamiento de estas, la información se presenta mediante un diagrama de flujo o flujograma. 

        h1.mt-5 Diagrama de flujo: 

        p es una representación gráfica que indica las actividades que constituyen un proceso y en el cual se da la ordenación de los elementos de acuerdo con el momento de su ejecución. Este diagrama facilita la comprensión de cómo se lleva a cabo cualquier proceso.

        p Se puede representar tanto el diagrama de flujo de un proceso primario como de procesos paralelos o alternativos. De esta manera se puede observar la sucesión de acontecimientos que ocurren para la realización de un producto (desde los materiales hasta los productos). Esto permite, que cada persona sepa que se hace antes y que se va a hacer después de la ejecución de una actividad o tarea. 

        p En este tipo de diagrama se utilizan diferentes símbolos los cuales según la norma ISO 5807, determinan ciertas categorías, por ejemplo, para iniciar el flujograma se establece el título en un óvalo, si se determina una actividad en un cuadrado y se utilizan flechas como líneas de conexión como se muestra a continuación: 

        .row.justify-content-center.align-items-center
            .col-auto
                img(src="assets/images/pages/tema_6/img_9.png", alt="").img-icon
            .col-auto
                img(src="assets/images/pages/tema_6/img_10.png", alt="").img-icon


        .sub-ecored.mt-5#tema6_2
            h2 6.2. Plantear tareas y definir tiempos

        p Al tener la información organizada de manera adecuada y tener claros cada uno de los objetivos a alcanzar, así como las estrategias que se llevarán a cabo para lograrlos, es momento de definir las tareas que cada integrante de la organización debe realizar, así como las fechas de inicio y finalización de estas. 

        p En este orden de ideas, en los planes de acción y en los proyectos en general, la primera y principal labor de programación consiste en coordinar los diversos recursos disponibles para asegurarse que se encontrarán en los lugares y momentos oportunos, así como la coordinación de los tiempos destinados para el cumplimiento de cada una de las acciones. 

        p En este sentido, se presentan dos herramientas indispensables en la elaboración de los planes: 

        .jumbotron.color-1
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_6/img_11.png", alt="").img-icon
                .col
                    p #[strong Gráfico de Gantt:] “es un gráfico de barras horizontales que consiste en hacer una lista de actividades las cuales se indican verticalmente en un diagrama. En forma horizontal (con forma de barra), se indica el tiempo en las unidades más apropiadas según el tipo de proyecto de que se trata” (Instituto Uruguayo de Normas Técnicas , 2009). 

                    p En este diagrama se logra representar la duración proyectada y la duración verdadera de cada actividad. Así como el inicio más temprano posible para cada actividad. Eso depende de si tiene que estar finalizada o no una actividad para ejecutar la siguiente. 

                    p Finalmente, este diagrama es muy práctico, porque a medida que se avance en el desarrollo de cada actividad propuesta, se sombrea la barra correspondiente. Por lo tanto, en un momento cualquiera se ve con claridad cuáles actividades están a tiempo y cuáles no. 

        .jumbotron.color-1
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_6/img_12.png", alt="").img-icon
                .col
                    p #[strong Técnica PERT:] “fue desarrollada a fines de la década de 1950 por la Navy Projects Office en colaboración con la empresa de consultoría administrativa de Booz, Allen y Hamilton y la División de Sistemas de Armamentos de la Corporación Lockheed Aircraft.  La técnica recibió una considerable publicidad, favorable para su uso, en el programa de ingeniería y desarrollo del misil Polaris, un complicado proyecto que tenía 250 contratistas primarios y 9000 subcontratistas. Desde esa fecha, ha sido ampliamente utilizado en otras organizaciones, tanto industriales como de servicios”. (Instituto Uruguayo de Normas Técnicas , 2009).

                    p En la técnica PERT cada una de las actividades que se llevarán a cabo en el plan de acción o plan de mejora, se representa mediante una flecha llamada arco o rama. El principio y el fin de cada actividad se representan mediante un círculo que se denomina nodo o evento. 

            p.mt-5 Cada nodo se numera en forma arbitraria, utilizando dichos números solamente para identificar eventos, sin indicar las relaciones de precedencia. En esta técnica, cada una de las actividades debe empezar en el nodo en que termina su antecesor. 

            p No obstante, independiente del modelo utilizado (GANNT o PERT), cada organización deberá asignar los responsables directos de cada actividad y sus grupos de apoyo, quienes preferentemente deben ser los que estén involucrados en todo el plan de acción.


        .sub-ecored.mt-5#tema6_3
            h2 6.3. Ejecutar el plan

        p Se ha llegado a la etapa final del plan de acción, en la cual cada participante tiene claras cuáles son las tareas a realizar, el cómo, cuándo, dónde realizarlas y el objetivo principal de cada una de ellas, todo con el propósito de lograr las dinámicas esperadas en cada uno de los aspectos abordados. 

        img.img-a(src="assets/images/pages/tema_6/img_13.png").img-fluid