.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Agenda 21: 	
            | es un plan de acción exhaustivo que habrá de ser adoptado universal, nacional y localmente por organizaciones del sistema de naciones unidas, gobiernos y grupos principales de cada zona en la cual el ser humano influya en el medio ambiente.  
        
        p
            strong.mr-2 Cambio climático:	
            | es la variación global del clima de la tierra. Esta variación se debe a causas naturales y a la acción del hombre y se produce sobre todos los parámetros climáticos: temperatura, precipitaciones, nubosidad, entre otras, a muy diversas escalas de tiempo.
        p 
            strong.mr-2 Capa de ozono:	
            | la capa de ozono es una capa protectora dentro de la atmósfera terrestre que tiene la función de preservar la vida del planeta tierra haciendo las veces de escudo contra la radiación ultravioleta (rayos uv). 
        p 
            strong.mr-2 Contaminantes Orgánicos Persistentes (COP):	
            | son sustancias químicas altamente tóxicas, que pueden durar muchos años antes de degradarse, acumulándose en el tejido graso de los seres vivos. Además, estas sustancias se pueden evaporar y viajar grandes distancias por el aire y el agua, por lo cual el impacto es a nivel local, regional y global. 

        p 
            strong.mr-2 Desertificación:	
            | consiste en una degradación persistente de los ecosistemas de las tierras secas producida por las variaciones climáticas y la actividad del hombre. Está presente en todos los continentes (salvo en la Antártida) y afecta al medio de vida de millones de personas, entre los que se encuentran buena parte de los pobres que viven en las tierras secas.

        p 
            strong.mr-2 Gases Efecto de Invernadero (GEI):	
            | son compuestos químicos en estado gaseoso como el vapor de agua, el dióxido de carbono (c02), el metano (ch4) y el óxido nitroso(n2o) que se acumulan en la atmósfera de la tierra y que son capaces de absorber la radiación infrarroja del sol, aumentando y reteniendo el calor en la atmósfera 

        p
            strong.mr-2 Huella ecológica:	
            | es uno de los indicadores más importantes para evaluar el impacto ambiental de las actividades que se realizan habitualmente. es decir, se evalúa el impacto que tiene el medio ambiente cuando se utiliza un terreno ecológicamente productivo para obtener los recursos deseados.

        p
            strong.mr-2 Huella hídrica:	
            | este indicador permite cuantificar el volumen total de agua utilizada por los habitantes de una determinada región.

        p
            strong.mr-2 Recursos naturales:	
            | son los bienes de origen natural, que no se encuentran alterados por la actividad humana, de los cuales las sociedades se valen mediante su explotación para lograr su bienestar y desarrollo.

        p
            strong.mr-2 Sequía: 	
            | es un periodo seco que se prolonga de manera significativa. se caracteriza porque durante la sequía la disponibilidad del agua está por debajo de sus niveles habituales, y, en consecuencia, no puede abastecer las necesidades de los seres vivos (animales, plantas y personas) que habitan en una región determinada.