.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Decreto 3570 de 2011, Por el cual se modifican los objetivos y la estructura del Ministerio de Ambiente y Desarrollo Sostenible y se integra el Sector Administrativo de Ambiente y Desarrollo Sostenible. (Diario Oficial 48205, septiembre 27 de 2011) 27 Sep, 2011	
                    td PDF
                    td 
                        a(href="media/documentos/Decreto_3570_2011.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Instituto Uruguayo de Normas Técnicas (2009) Herramientas para la mejora de la calidad.                    
                    td PDF 
                    td 
                        a(href="media/documentos/Herramientas_mejora_de_calidad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar               